name: deploy-aws.yml
on:
    push:
        branches: ['main']
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Build docker image
              run: docker build --platform=linux/amd64 -t ovrckd-bot:latest .

            - name: Save docker image
              run: docker save -o ovrckd-bot.tar ovrckd-bot:latest

            - name: Deploy docker image
              uses: easingthemes/ssh-deploy@main
              with:
                  REMOTE_HOST: ${{secrets.EC2_IP}}
                  REMOTE_USER: ec2-user
                  SSH_PRIVATE_KEY: ${{secrets.EC2_PRIVATE_KEY}}
                  SOURCE: ovrckd-bot.tar
                  TARGET: ~/ovrckd-bot.tar

            - name: Launch application
              uses: appleboy/ssh-action@master
              with:
                  host: $${{secrets.EC2_IP}}
                  username: ec2-user
                  key: $${{secrets.EC2_PRIVATE_KEY}}
                  script: |
                      bash docker_stop.sh
                      bash docker_start.sh